# Node.js & Next.js
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.db
*.db-*
.pytest_cache/

# Environment Variables & Secrets
.env
.env*.local

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/